appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.3.0
axe-selenium-python-dev==2.4.0
beautifulsoup4==4.10.0
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
comtypes==1.1.7
configparser==5.0.1
crayons==0.4.0
defusedxml==0.7.1
et-xmlfile==1.0.1
Flask==1.1.2
idna==2.10
iniconfig==1.1.1
isodate==0.6.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
lxml==4.6.3
MarkupSafe==1.1.1
numpy==1.19.4
openpyxl==3.0.5
packaging==21.3
pandas==1.1.4
Pillow==8.0.1
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pytest==7.0.1
python-dateutil==2.8.1
pytz==2020.4
pywin32 @ file:///C:/Users/ROG/pywin32-228-cp39-cp39-win_amd64.whl
pywinauto==0.6.8
requests==2.25.1
requests-file==1.5.1
requests-toolbelt==0.9.1
selenium==3.141.0
six==1.15.0
soupsieve==2.3.1
tomli==2.0.1
tqdm==4.62.3
urllib3==1.25.11
webdriver-manager==3.2.2
webdrivermanager==0.10.0
Werkzeug==1.0.1
zeep==4.0.0
